{% load static %}
<html>
  <head>
    <title>Todo | Details | Task {{task.id}}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    {% if task %}
      <a href="{% url 'todo:index' %}">Home</a>

      <h2>{{task.task_text}}</h2>
      <a href="{% url 'todo:edit' task.id%} ">Edit</a>

      <div>
        <ul>
          <li>Date created: {{task.creation_date}}</li>
          <li>Date due: {{task.due_date}}</li>
          <li>Importance: {{task.importance}}</li>
          <li>
            {% if task.is_due %}
              <p style="color: red">Overdue</p>
            {% else %}
              <p style="color: green">Not yet due</p>
            {% endif %}
          </li>
        </ul>
      </div>

    {% endif %}
  </body>

</html>